/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.check-input {
    margin-left: 10px;
}

.check-label {
    text-align: right;
    border-color: #1861ac;
}